main {
  width: 100vw;
  height: 100vh;
  background-image: url('./../Images/sign-up.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

.verify-email-page {
  width: fit-content;
  height: fit-content;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: var(--box-shadow-medium-effect);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  gap: 0.8rem;
}

.verify-email-image {
  width: 15%;
  height: 100%;
  overflow: hidden;
}

.verify-email-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.verify-button {
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: capitalize;
  box-shadow: var(--box-shadow-medium-effect);
  cursor: pointer;
  border: 3px solid #f9ad3c;
  font-weight: bold;
  background-color: #f9ad3c;
  transition: all 0.5s linear;
}
.verify-button:hover {
  background-color: #f9e4cb;
}
