main {
  width: 100vw;
  height: 100vh;
  background-image: url('./../Images/change-password.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

.change-password {
  width: 80%;
  height: fit-content;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: var(--box-shadow-medium-effect);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

form {
  width: 100%;
  padding: 1rem;
}

.change-password-image {
  width: 70%;
  height: 100%;
  overflow: hidden;
}

.change-password-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input-section {
  position: relative;
  transition: all 0.3s linear;
}

.input-section-label {
  /* color: #f9ad3c; */
  position: absolute;
  top: 33%;
  left: 2%;
  text-transform: capitalize;
  background-color: #fff;
  padding: 0.2rem;
  backdrop-filter: blur(50px);
  border-radius: 5px;
  transition: all 0.3s linear;
}

.input-field {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  margin: 1rem 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.input-section-icon {
  position: absolute;
  top: 37%;
  right: 2%;
  font-size: 1.2rem;
}

.input-field.active ~ .input-section-label {
  top: 4%;
  color: #f9ad3c;
}

.input-field.active {
  border: 1px solid #f9ad3c;
}

.input-field.active ~ .input-section-icon {
  color: #f9ad3c;
}

.change-password-details{
  width: 100%;
  text-transform: capitalize;
}