:root {
  --chat-application-background-color: #fff;
  --incoming-message-color: #f2f2f2;
  --outgoing-message-color: #f9e4cb;
  --default-text-color: #333;

  --background-color-1: #f3f3f3;
  --background-color-2: #fcfcfc;
  --background-color-3: #f9f9f9;

  /* box-shadow */
  --box-shadow-light-effect: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --box-shadow-medium-effect: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  --box-shadow-light-border-effect: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --box-shadow-medium-border-effect: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --box-shadow-medium-dark-effect: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px
      inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;

  /* z-index */
  --higher-z-index: 5;
  --high-z-index: 4;
  --medium-z-index: 3;
  --low-z-index: 2;
  --lower-z-index: 1;

  /* transition */
  --linear-transition-1s: 1s linear 0s;
  --ease-transition-1s: 1s ease 0s;
  --ease-in-transition-1s: 1s ease-in 0s;
  --ease-out-transition-1s: 1s ease-out 0s;
  --ease-in-out-transition-1s: 1s ease-in-out 0s;
}

a {
  text-decoration: none;
  color: var(--default-text-color);
}

li {
  list-style: none;
}

input,
button {
  border: none;
  outline: none;
}

.container {
  width: min(100%, 1200px);
  margin: 0 auto;
  padding: 1rem;
}

/* BACKGROUND */
.bg-incoming-message {
  background: var(--incoming-message-color);
  color: var(--default-text-color);
}

.bg-outgoing-message {
  background: var(--outgoing-message-color);
  color: var(--default-text-color);
}

/* /BACKGROUND */

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

/* PADDING */

/* ONLY Y-AXIS */
.py-1 {
  padding: 1.5rem 0 !important;
}

.py-2 {
  padding: 2rem 0 !important;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.py-5 {
  padding: 5rem 0;
}

/* FOR ALL */
.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 2rem;
}

/* /PADDING */

/* MARGIN */
/* ONLY Y-AXIS */
.my-1 {
  margin: 1.5rem 0 !important;
}

.my-2 {
  margin: 2rem 0 !important;
}

.my-3 {
  margin: 3rem 0 !important;
}

.my-4 {
  margin: 4rem 0 !important;
}

.my-5 {
  margin: 5rem 0 !important;
}

.mx-1 {
  margin: 0 1rem !important;
}

.mx-2 {
  margin: 0 2rem !important;
}

.mx-3 {
  margin: 0 3rem !important;
}

.mx-4 {
  margin: 0 4rem !important;
}

.mx-5 {
  margin: 0 5rem !important;
}

.mr-0 {
  margin-right: 0.75rem;
}

.mr-1 {
  margin-right: 1.75rem;
}

.ml-0 {
  margin-right: 0.75rem;
}

.ml-1 {
  margin-right: 1.75rem;
}

.mt-0 {
  margin-top: 0.75rem;
}

.mt-1 {
  margin-top: 1.75rem;
}

.mb-0 {
  margin-bottom: 0.75rem;
}

.mb-1 {
  margin-bottom: 1.75rem;
}

/* /MARGIN */

/* HEADINGS SIZE */
.xxl-heading {
  font-size: 3.5rem;
}

.l-heading {
  font-size: 3rem;
}

.m-heading {
  font-size: 2.2rem;
}

.sm-heading {
  font-size: 1.7rem;
}

.xxsm-heading {
  font-size: 1.2rem;
}

/* /HEADINGS SIZE */

/* .btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-secondary {
    background: var(--secondary-color);
    color: #fff;
}

.btn-light {
    background: var(--light-color);
    color: var(--dark-color);
}

.btn-dark {
    background: var(--dark-color);
    color: #fff;
} */

/* /BUTTON */

/* FLOATS */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* /FLOATS */

/* FLEX */
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
/* /FLEX */

/* TEXT */
.text-primary {
  color: var(--primary-color);
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/* /TEXT */

/* PILL */
.pill {
  background-color: var(--light-color);
  padding: 0.3rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9rem;
}

/* /PILL */

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
