header {
    width: 100%;
    background-color: #f3f3f3;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 0.8rem;
}

header > h1 {
    font-size: 1rem;
}
.page-logo {
    width: 1.2%;
    height: 100%;
    overflow: hidden;
}
.page-logo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    display: flex;
    position: relative;
}

.navigation-bar {
    width: 3vw;
    padding-bottom: 1rem;
    height: 100vh;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.icons {
    margin: 0.4rem;
    font-size: 1.1rem;
    line-height: 1rem;
    padding: 0.5rem;
    border-radius: 7px;
    position: relative;
    transition: all 0.2s ease;
}

.icons::before {
    content: attr(data-description);
    position: absolute;
    top: -120%;
    left: 0%;
    font-size: 0.7rem;
    font-weight: lighter;
    color: black;
    background-color: #ededed;
    padding: 0.5rem 0.8rem;
    border-radius: 7px;
    text-transform: capitalize;
    z-index: var(--lower-z-index);
    box-shadow: var(--box-shadow-light-border-effect);
    visibility: hidden;
    transition: all 0.2s ease;
}
.profile-with-icon {
    position: relative;
    padding: 0.2rem;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.2s ease;
}
.profile-with-icon > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-with-icon::before {
    content: "attr(data-description)";
    position: absolute;
    top: -120%;
    left: 0%;
    font-size: 0.7rem;
    font-weight: lighter;
    color: black;
    background-color: #ededed;
    padding: 0.5rem 0.8rem;
    border-radius: 7px;
    text-transform: capitalize;
    z-index: var(--lower-z-index);
    box-shadow: var(--box-shadow-light-border-effect);
    /* visibility: hidden; */
    transition: all 0.2s ease;
}

.icons:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.profile-with-icon:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.icons:hover::before {
    visibility: visible;
}

.chats-navigation-bar {
    position: relative;
    width: 27vw;
    height: 100vh;
    background-color: var(--background-color-2);
    border-top-left-radius: 5px;
    padding: 1rem 0.5rem;
}

.chat {
    width: 70%;
    height: 100vh;
    background-color: #f9f9f9;
    box-shadow: var(--box-shadow-light-border-effect);
}

.navigation-2 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    margin-bottom: 3rem;
}

/* chat-lists */
.chat-navigation-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}
.chat-navigation-head > h1 {
    font-size: 1.2rem;
}
.chat-head-option {
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    gap: 0.2rem;
}

.head-options {
    padding: 0.5rem 0.8rem;
    font-size: 1.3rem;
    border-radius: 5px;
    /* transition: all 0.3s linear; */
}
.head-options:last-child {
    font-size: 1.1rem;
}
.head-options:hover {
    background-color: #eee;
}
.chat-lists {
    overflow-y: scroll;
    height: 100%;
    scroll-behavior: smooth;
}
/* width */
.chat-lists::-webkit-scrollbar {
    scroll-behavior: smooth;
    width: 2px;
}

/* Track */
.chat-lists::-webkit-scrollbar-track {
    scroll-behavior: smooth;
    background: #fff;
    border-radius: 5px;
}

/* Handle */
.chat-lists::-webkit-scrollbar-thumb {
    scroll-behavior: smooth;
    background: lightgray;
    border-radius: 1rem;
}

.chat-list {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    justify-items: center;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    text-overflow: ellipsis;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    cursor: default;
}
.chat-list:hover {
    background-color: #eee;
}
.chat-list:last-child {
    margin-bottom: 10rem;
}
.chat-list-title {
    width: 100%;
}

.chat-list-image {
    width: 55px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.chat-list-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-list-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

.chat-list-date {
    justify-self: flex-end;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
    float: right;
}

.chat-list-message {
    color: grey;
    width: 200px;
    font-size: 0.855rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* CHAT */
.chat {
    position: relative;
}
.welcome-page-chat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-transform: capitalize;
}
.welcome-page-chat-image {
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.welcome-page-chat-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome-page-chat > h1 {
    font-weight: normal;
    color: black;
    margin-bottom: 0.6rem;
}

.welcome-page-chat > p {
    font-size: 0.85rem;
    color: grey;
}

/* chat-header */
.conversation-header {
    position: relative;
}
.conversation-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 0.4rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.conversation-header-detail {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
}

.conversation-header-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.conversation-header-profile > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conversation-header-user-name {
    font-size: 1rem;
}

.conversation-header-user-status {
    font-size: 0.8rem;
    font-weight: bolder;
}

.conversation-header-user-status.user-offline {
    color: grey;
}

.conversation-header-user-status.user-online {
    color: green;
}
.conversation-header-user-status.user-typing {
    color: green;
}

.calls-options {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.custom-option {
    position: relative;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.custom-option:hover {
    background-color: #eee;
}

.conversation-body {
    overflow-y: scroll;
    height: 595px;
    padding: 1rem;
    background-image: url("./../Images/Whatsapp_Background.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
}

/* width */
.conversation-body::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.conversation-body::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 5px;
}

/* Handle */
.conversation-body::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 1rem;
}

.conversation-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-2);
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 0.4rem 1rem;
    box-shadow: var(--box-shadow-light-border-effect);
}

.conversation-footer-content {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

.conversation-options {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
}

.conversation-options:hover {
    background-color: #eee;
}

.conversation-input {
    width: 100%;
    height: 100%;
}
.conversation-input > input {
    width: 57vw;
    max-width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

/* message */
.outgoing-message > p,
.incoming-message > p {
    word-wrap: break-word;
    word-break: break-all;
}
.outgoing-message {
    background-color: var(--outgoing-message-color);
    padding: 1rem;
    padding-bottom: 1.8rem;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    min-width: 20%;
    width: fit-content;
    max-width: calc(100% - 500px);
    margin-left: auto;
    margin-bottom: 0.8rem;
    box-shadow: var(--box-shadow-light-border-effect);
    position: relative;
}

/* .outgoing-message::after {
  content: attr(data-chat-time);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 1rem .5rem;
  color: grey;
  font-size: .8rem;
} */

.incoming-message {
    background-color: var(--incoming-message-color);
    padding: 1rem;
    padding-bottom: 1.8rem;
    border-radius: 1rem;
    border-top-left-radius: 0;
    min-width: 20%;
    width: fit-content;
    max-width: calc(100% - 500px);
    margin-right: auto;
    margin-bottom: 0.8rem;
    box-shadow: var(--box-shadow-light-border-effect);
    position: relative;
}

.incoming-message::after {
    content: attr(data-chat-time);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 1rem 0.5rem;
    color: grey;
    font-size: 0.8rem;
}
.messages > p {
    line-height: 1.7rem;
}

.message-date-and-seen {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem 0.8rem;
    color: grey;
    font-size: 0.8rem;
}

.message-tick {
    color: black;
    font-size: 1rem;
}
.no-message-box {
    padding: 2rem;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: var(--box-shadow-light-effect);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.overlay.active {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--lower-z-index);
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(10px);
}

.add-group-users {
    background: #fff;
    width: 50%;
    height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 50%;
    transform: translate(-50%, -180%);
    padding: 1rem;
    border-radius: 5px;
    z-index: var(--low-z-index);
    overflow: hidden;
    background: #fff;
    transition: all 0.5s ease-in-out;
}

.add-group-users.active {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.contact-list-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.contact-list-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contacts-section-list {
    padding: 1rem;
    padding-bottom: 10rem;
    width: 100%;
    height: 500px;
    overflow: scroll;
    margin-bottom: 10rem;
    scroll-behavior: smooth;
}

.contact-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}
.contact-list:hover {
    background-color: #eee;
}

.contacts-section {
    position: relative;
}
.contact-list-checkbox {
    margin-left: auto;
}
.contact-list-checkbox > input {
    accent-color: #198564;
}

.contacts-section-label:last-child {
    margin-bottom: 5rem;
}

.contacts-section-list::-webkit-scrollbar {
    width: 0;
}

/* Track */
.contacts-section-list::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 5px;
}

/* Handle */
.contacts-section-list::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 1rem;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.header-section > p {
    font-size: 1.5rem;
    line-height: 1rem;
    cursor: pointer;
}
.header-section > h1 {
    font-size: 1.5rem;
}

.search-section {
    width: 100%;
    display: block;
    margin: 1rem 0;
}
.search-section > input {
    width: 100%;
    padding: 1rem;
    padding-left: 0.5;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: normal;
}

.contacts-section-heading {
    margin: 1rem;
    margin-left: 0.4rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.group-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.group-pic > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.group-section-photo-name {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#pic {
    scale: 10;
    opacity: 0;
    cursor: pointer;
}
.group-subject {
    width: 100%;
}
#group-section-name {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
    padding-left: 0.2rem;
    padding-bottom: 0.5rem;
    font-size: 1.15rem;
}

.create-button {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 10%;
    right: 0%;
    height: fit-content;
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
}
.create-button > input {
    transform: translateX(505%);
    background: #198564;
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.pill.group-pill > span {
    background: #ececec;
    padding: 0.5rem;
    font-weight: normal;
    color: black;
}
