main {
  width: 100vw;
  height: 100vh;
  background-image: url('./../Images/recovery-password.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

.recovery-password {
  width: fit-content;
  height: fit-content;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: var(--box-shadow-medium-effect);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.recovery-password-image {
  width: 50%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
}

.recovery-password-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

form {
  width: 100%;
  padding: 1rem;
}

.input-section {
  position: relative;
  transition: all 0.3s linear;
  width: 100%;
  width: 100%;
  height: 100%;
}
.recovery-password-page {
  width: 80%;
}
.input-section-label {
  /* color: #f9ad3c; */
  position: absolute;
  top: 38%;
  left: 3.5%;
  text-transform: capitalize;
  background-color: white;
  backdrop-filter: blur(50px);
  border-radius: 5px;
  transition: all 0.3s linear;
}

.input-field {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  margin: 1rem 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.input-section-icon {
  position: absolute;
  top: 37%;
  right: 2%;
  font-size: 1.2rem;
}

.input-field.active ~ .input-section-label {
  top: 7%;
  color: #f9ad3c;
}

.input-field.active {
  border: 1px solid #f9ad3c;
}

.input-field.active ~ .input-section-icon {
  color: #f9ad3c;
}

.change-password-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: capitalize;
  box-shadow: var(--box-shadow-medium-effect);
  cursor: pointer;
  border: 3px solid #f9ad3c;
  font-weight: bold;
  background-color: #f9ad3c;
  transition: all 0.5s linear;
}
.change-password-button:hover {
  background-color: #f9e4cb;
}
