main {
  width: 100vw;
  height: 100vh;
  background-image: url('./../Images/otp.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

.otp-page {
  width: 50%;
  height: fit-content;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: var(--box-shadow-medium-effect);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  gap: 0.8rem;
}

.otp-image {
  width: 40%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
}

.otp-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.otp-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.given-email {
  text-transform: lowercase;
  font-size: 1.2rem;
  text-decoration: underline;
}

.otp-description {
  font-size: 1.1rem;
}
.otp-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}
.otp-box {
  box-shadow: var(--box-shadow-medium-effect);
}
.otp-box > input {
  padding: 1rem;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  height: 100px;
  border-radius: 5px;
  border: none;
  transition: border 0.3s ease;
}

.otp-box > input:focus {
  border: 5px solid #f9ad3c;
}

.otp-submit-button {
  margin-top: 1rem;
  padding: .5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: capitalize;
  box-shadow: var(--box-shadow-medium-effect);
  cursor: pointer;
  border: 3px solid #f9ad3c;
  font-weight: bold;
  background-color: #f9ad3c;
  transition: all 0.5s linear;
}
.otp-submit-button:hover {
  background-color: #f9e4cb;
}
