main {
    width: 100vw;
    height: 100vh;
    background-image: url("./../Images/sign-up.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

.sign-up-page {
    width: 80%;
    height: fit-content;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: var(--box-shadow-medium-effect);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.sign-up-image {
    width: 50%;
    height: 100%;
    padding: 1rem;
    overflow: hidden;
}

.sign-up-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sign-up-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    justify-items: center;
    gap: 1rem;
    width: 80%;
}

.input-field {
    position: relative;
    display: flex;
    margin: 1.7rem 0;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-photo {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-items: center;
    gap: 1rem;
}
.user-profile-img-button {
    position: relative;
    width: fit-content;
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: var(--box-shadow-medium-effect);
    overflow: hidden;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    transition: all 0.2s linear;
}

button span {
    font-size: 1.3rem;
    line-height: 1rem;
}

button #pic {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(5);
}

.user-profile-img-button:active {
    box-shadow: none;
}

form {
    width: 100%;
    padding: 1rem;
}

.input-section {
    position: relative;
    transition: all 0.3s linear;
}

.input-section-label {
    /* color: #f9ad3c; */
    position: absolute;
    top: 25%;
    left: 2%;
    text-transform: capitalize;
    background-color: #fff;
    padding: 0.2rem;
    backdrop-filter: blur(50px);
    border-radius: 5px;
    transition: all 0.3s linear;
}

.input-field {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.input-section-icon {
    position: absolute;
    top: 32%;
    right: 2%;
    font-size: 1.2rem;
}

.input-field.active ~ .input-section-label {
    top: -18%;
    color: #f9ad3c;
    /* background-color: #f9ad3c; */
}

.input-field.active {
    border: 1px solid #f9ad3c;
}

.input-field.active ~ .input-section-icon {
    color: #f9ad3c;
}

.submit-form-button {
    width: 100%;
    background-color: #f9ad3c;
    box-shadow: var(--box-shadow-light-effect);
    height: 100%;
    font-size: 1.1rem;
    padding: 0.8rem 1rem;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}

.method-image {
    width: 15%;
    height: 100%;
    padding: 1rem;
    overflow: hidden;
}

.method-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.methods {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    gap: 1rem;
}
.other-sign-up-methods {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.login {
    text-transform: capitalize;
}

.login-link > a {
    color: #f6744e;
}

.text-danger {
    color: red;
    font-weight: bolder;
}

/*****************************************
************ ANIMATION TOAST *************
*******************************************/

.toast {
    padding: 1rem;
    box-shadow: var(--box-shadow-effect-1);
    position: fixed;
    top: -2%;
    right: -10%;
    z-index: var(--max-z-index);
    background-color: #fff;
    /* border-left: 5px solid #0abf30; */
    border-radius: 5px;
    text-transform: capitalize;
    width: fit-content;
    overflow: hidden;
    transition: all 300ms linear;
    transform: translateX(calc(100% + 30px));
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toast.active { 
    animation: hide 0.5s linear forwards;
    transform: translateX(0%);
    animation-delay: 5s;
}

@keyframes hide {
    100% {
        transform: translateX(calc(100% + 30px));
    }
}

.toast-content {
    position: relative;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

.toast-message {
    display: flex;
    gap: 10px;
}

.toast-icon {
    width: 25px;
    height: 25px;
    line-height: 31px;
    text-align: center;
    font-size: 1.15rem;
    font-weight: bolder;
    color: white;
    border-radius: 50%;
    background-color: var(--toast-color);
}

.toast-message > p:first-child {
    font-weight: bolder;
}

.toast-close-button {
    transform: translate(20%, 15%);
    font-size: 1.2rem;
    cursor: pointer;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    border-radius: 50%;
    background: #fff;
}

.progress-bar::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--toast-color);
}

.progress-bar::before {
    /* .progress-bar.active::before { */
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}
