main {
    width: 100vw;
    height: 100vh;
    background-image: url("./../Images/login-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

.login-page {
    width: 80%;
    height: fit-content;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: var(--box-shadow-medium-effect);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-image {
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow: hidden;
}

.login-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    width: 100%;
}

.hello-content > h2 {
    font-size: 3rem;
}
.hello-content > p {
    color: rgba(0, 0, 0, 0.75);
}
form {
    width: 100%;
    padding: 1rem;
}

.input-section {
    position: relative;
    transition: all 0.3s linear;
}

.input-section-label {
    /* color: #f9ad3c; */
    position: absolute;
    top: 38%;
    left: 3.5%;
    text-transform: capitalize;
    background-color: white;
    backdrop-filter: blur(50px);
    border-radius: 5px;
    transition: all 0.3s linear;
}

.input-field {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.input-section-icon {
    position: absolute;
    top: 37%;
    right: 2%;
    font-size: 1.2rem;
}

.input-field.active ~ .input-section-label {
    top: 7%;
    color: #f9ad3c;
}

.input-field.active {
    border: 1px solid #f9ad3c;
}

.input-field.active ~ .input-section-icon {
    color: #f9ad3c;
}

.lock-show {
    display: none;
}

.input-section-icon.show .lock-hide {
    display: none;
}

.input-section-icon.show .lock-show {
    display: inline-block;
}

.remember-me {
    accent-color: #f9ad3c;
    padding: 1rem;
}

.remember-me-label {
    color: rgba(0, 0, 0, 0.8);
}

.form-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.recovery-password > a {
    color: black;
    font-weight: bolder;
    text-transform: capitalize;
}

.submit-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.other-sign-in-option {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: var(--box-shadow-medium-effect);
    cursor: pointer;
    text-transform: capitalize;
    width: 100%;
    height: 100%;
}

.submit-form-button-div {
    width: 100%;
    height: 100%;
    background-color: #f9ad3c;
    box-shadow: var(--box-shadow-medium-effect);
    border-radius: 5px;
    padding: 1.1rem;
}

.submit-form-button {
    width: 100%;
    background-color: #f9ad3c;
    box-shadow: var(--box-shadow-medium-effect);
    height: 100%;
    font-size: 1.1rem;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}

.other-sign-in-image {
    width: 10%;
    height: 100%;
    overflow: hidden;
}

.other-sign-in-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sign-up {
    text-transform: capitalize;
}

.sign-up-link > a {
    color: #f9ad3c;
}

/*****************************************
************ ANIMATION TOAST *************
*******************************************/

.toast {
    padding: 1rem;
    box-shadow: var(--box-shadow-effect-1);
    position: fixed;
    top: -7%;
    right: -130px;
    z-index: var(--max-z-index);
    background-color: #fff;
    /* border-left: 5px solid #0abf30; */
    border-radius: 5px;
    text-transform: capitalize;
    width: fit-content;
    overflow: hidden;
    transition: all 300ms linear;
    transform: translateX(calc(100% + 30px));
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toast.active {
    animation: hide .5s linear forwards;
    transform: translateX(0%);
    animation-delay: 5s;
}

@keyframes hide {
    100% {
        transform: translateX(calc(100% + 30px));
    }
}


.toast-content {
    position: relative;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

.toast-message {
    display: flex;
    gap: 10px;
}

.toast-icon {
    width: 25px;
    height: 25px;
    line-height: 31px;
    text-align: center;
    font-size: 1.15rem;
    font-weight: bolder;
    color: white;
    border-radius: 50%;
    background-color: var(--toast-color);
}

.toast-message > p:first-child {
    font-weight: bolder;
}

.toast-close-button {
    transform: translate(20%, 15%);
    font-size: 1.2rem;
    cursor: pointer;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    border-radius: 50%;
    background: #fff;
}

.progress-bar::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--toast-color);
}

.progress-bar::before {
/* .progress-bar.active::before { */
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}

.text-danger {
    color: red;
    font-weight: bolder;
}